@import '@styles/mixins';

.card {
  border: 1px solid var(--border-light);
  border-radius: var(--border-radius-large);
  width: calc(calc(100% - 96px) / 4);
  max-width: 100%;
  min-height: 300px;
  margin: 12px;
  position: relative;
  background-color: var(--background-light);

  &:hover {
    .overlay {
      opacity: 1;
    }
  }

  @include dark-mode {
    border: 1px solid var(--border-dark);
    background-color: var(--background-dark);
  }

  .image {
    border-radius: var(--border-radius-large);
  }

  .overlay {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: #434343a7;

    .icons {
      height: 22px;
      width: 22px;
      // padding: 6px 0;
    }

    .button {
      margin: 6px;
      // height: 22px;
    }
  }

  .subContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px 12px;
    background-color: var(--background-light);

    @include dark-mode {
      background-color: var(--background-dark);
    }

    .title {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      min-height: 30px;
      @include font-size-weight(16, 24, 600);
      @include line-clamp(2);
    }

    .description {
      margin: 8px 0;
      min-height: 70px;
      display: flex;
      // justify-content: ;
      align-items: center;
      line-height: 1.7;
      @include line-clamp(2);
    }

    .tags {
      margin: 6px 0;
      .badge {
        margin-right: 6px;
      }
    }

    .info {
      display: flex;
      justify-content: space-between;
      color: var(--color-light);

      .site {
        // margin-right: ;
        @include line-clamp(1);
      }
    }
  }
}
