@import '@styles/mixins';

.card {
  border: 1px solid var(--border-light);
  border-radius: var(--border-radius-large);
  width: calc(calc(100% - 96px) / 4);
  max-width: 100%;
  min-height: 300px;
  margin: 12px;
  transition: 0.3s ease-in-out;
  background-color: var(--background-light);
  color: var(--color-dark) !important;

  &:hover {
    scale: 1.01;
    border: 1px solid white;
  }

  @include dark-mode {
    border: 1px solid var(--border-dark);
    background-color: var(--background-dark);
    color: var(--color-dark-primary) !important;
  }

  .imageContainer {
    position: relative;
    height: 180px;
    width: 100%;
    border-radius: var(--border-radius-large);
    object-fit: cover;
    object-position: center;

    &:hover {
      .overlay {
        opacity: 1;
      }
    }
  }

  .image {
    border-top-left-radius: var(--border-radius-large);
    border-top-right-radius: var(--border-radius-large);
  }

  .overlay {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease-in-out;
    background-color: #434343a7;
    border-top-left-radius: var(--border-radius-large);
    border-top-right-radius: var(--border-radius-large);

    .icons {
      height: 18px;
      width: 18px;
      // padding: 6px 0;
    }

    .button {
      margin: 6px;
      border-radius: var(--border-radius-large);
    }
  }

  .subContent {
    min-height: 180px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 12px;
    background-color: var(--background-light);
    border-radius: var(--border-radius-large);

    @include dark-mode {
      background-color: var(--background-dark);
      // background-color: black;
    }

    .title {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      min-height: 30px;
      @include font-size-weight(17, 28, 450);
      @include line-clamp(1);
    }

    .description {
      margin: 6px 0;
      display: flex;
      align-items: center;
      @include font-size-weight(16, 26, 400);
      @include line-clamp(2);

      @include dark-mode {
        color: var(--color-dark-secondary);
      }
    }

    .tags {
      margin: 6px 0;
      .badge {
        margin-right: 6px;
      }
    }

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include dark-mode {
        color: var(--color-dark-secondary);
      }

      .fav {
        height: 18px;
        width: 18px;
        color: rgb(167, 73, 73);
      }

      .site {
        // margin-right: ;
        @include line-clamp(1);
      }
    }
  }
}
