@import '@styles/mixins';

.left {
  margin-left: 6px;
  height: 16px !important;
  weight: 14px !important;
  transition: all 0.3s ease-in-out;
}

.sidebarClose {
  background-color: var(--background-light);
  transition: all 0.2s ease-in-out;

  @include dark-mode {
    background-color: var(--background-dark);
  }
}

.rootFolder {
  margin-right: 4px;
  height: 16px !important;
  width: 16px !important;
  cursor: pointer;
}

.children {
  margin-left: 18px;
}
.right {
  margin-right: 12px;
}

.home {
  display: flex;
  min-height: 100vh;

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 1.2rem;
    width: 21%;
    background-color: var(--background-light);
    border-right: none;
    transition: all 0.2s ease-in-out;

    @include dark-mode {
      border-right: 1px solid var(--border-dark);
      border-right: none;
      background-color: #111;
    }

    @include mobile {
      width: 0;
      padding: 0;
      position: absolute;
      z-index: 1;
      min-height: 100vh;
      left: 0;
      top: 0;
    }

    &Close {
      width: 60px;
      border-right: 1px solid var(--border-light);

      @include dark-mode {
        border-right: 1px solid var(--border-dark);
      }

      @include mobile {
        display: none;
      }

      .menu {
        display: none;
      }

      .hamburger {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: spac;
        margin-top: 20px;

        &Icon {
          margin-top: 20px;
        }

        .dropdownButton {
          margin-top: 20px;
        }
      }

      .user {
      }
    }
    //   min-height: 100vh;

    .hamburger {
      // @include display-flex;
      display: flex;
      justify-content: space-between;
    }

    .user {
      display: flex;
    }

    .menu {
      padding: 1rem 0;
      // height: 100%;

      .scrollableMenu {
        height: 59vh;
        overflow: scroll;
        margin-bottom: 14px;
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
          display: none; /* Safari and Chrome */
        }
      }
    }

    .input {
      border-radius: 6px !important;
    }

    .upload {
      display: flex;
      margin: 8px 0 18px 0;
      justify-content: center;
      align-items: center;

      &Section {
        margin: 14px 0;
      }

      input::file-selector-button {
        color: #0072f5;
        background-color: #cde4fe;
        padding: 10px 14px;
        border: 0;
        border-radius: 6px;
        margin-right: 4px;

        @include dark-mode {
          background-color: #10253e;
        }
      }
    }

    .send {
      padding: 8px;
      border-radius: 6px;
    }

    .coll {
      margin-top: 6px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      color: var(--color-dark);
      padding: 6px 6px;
      transition: all 0.3s ease-in-out;

      &:hover {
        transition: all 0.2s ease-in-out;
        background-color: #dadada;
        box-shadow: 0 0 0 1px var(--border-light);
        border-radius: var(--border-radius-medium);
        color: var(--color-dark);
      }

      @include dark-mode {
        color: var(--color-dark-secondary);
        &:hover {
          box-shadow: none;
          color: var(--color-dark-primary) !important;
          background-color: #202020 !important;
        }
      }

      &Active {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        margin-top: 6px;
        display: flex;
        justify-content: space-between;
        color: var(--color-dark);
        color: #0072f5;
        background-color: #cee4fe;
        border-radius: var(--border-radius-medium);
        padding: 6px 12px;

        @include dark-mode {
          background-color: var(--dark-background-blue);
        }
      }
    }

    .small {
      padding: 2px;
      @include content-size(24, 24);

      &Badge {
        // @include content-size(40, 40);
      }
    }

    .collection {
      margin: 4px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      color: var(--color-dark);
      padding: 6px 6px;
      transition: all 0.3s ease-in-out;

      &Info {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &Name {
        @include font-size-weight(16, 24, 400);
        @include line-clamp(1);
      }

      &:hover {
        transition: all 0.2s ease-in-out;
        background-color: #dadada;
        box-shadow: 0 0 0 1px var(--border-light);
        border-radius: var(--border-radius-medium);
        color: var(--color-dark);
      }

      @include dark-mode {
        border-radius: var(--border-radius-medium);
        color: var(--color-dark-primary);
        background-color: var(--background-dark);
        &:hover {
          color: var(--color-dark-primary);
          background-color: #5b5b5b !important;
        }
      }

      &Active {
        width: 100%;
        margin: 4px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-dark);
        color: #0072f5;
        background-color: #cee4fe;
        border-radius: var(--border-radius-medium);
        padding: 6px 6px;
        transition: all 0.3s ease-in-out;
      }
    }

    .subMenu {
      display: flex;
      align-items: center;
      color: var(--color-dark);
      margin: 14px 0 14px 0px;
      @include font-size-weight(16, 10, 600);

      @include dark-mode {
        color: var(--color-dark-primary);
      }
    }
  }

  .mainContent {
    width: 100%;

    @include mobile {
      &Hidden {
        opacity: 0.2;
        backdrop-filter: saturate(180%) blur(20px);
      }
    }
  }
}

.select {
  width: 100%;
  padding: 10px 6px;
  border-radius: 14px;
  background-color: transparent;
}

.tags {
  margin: 6px 0;
  .badge {
    margin-right: 6px;
  }
}

.text {
  margin-bottom: 12px;
  @include font-size-weight(16, 22, 500);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius-medium) !important;
  padding: 6px;
  z-index: 3 !important;
}

.noStyle {
  background-color: transparent;
  border: none;
  cursor: pointer !important;

  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: #dadada;
    box-shadow: 0 0 0 1px var(--border-light);
    border-radius: var(--border-radius-medium);
    color: var(--color-dark);
  }
  &:active {
    color: #0072f5;
    background-color: #cee4fe;
  }

  @include dark-mode {
    color: var(--color-dark-primary);
    background-color: #202020 !important;
    &:hover {
      color: var(--color-dark-primary);
      background-color: #5b5b5b !important;
    }
  }
}

.popoverButtons {
  @include display-flex;
  justify-content: flex-start;
  cursor: pointer !important;
  margin: 4px 0;
  width: 100%;
  padding: 4px 8px;
  border-radius: var(--border-radius-medium);
  background-color: transparent;
  @include font-size-weight(14, 20, 400);
  border: none;
  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: var(--background-light);
    box-shadow: 0 0 0 1px var(--border-light);
    border-radius: var(--border-radius-medium);
    color: var(--color-dark);
  }
}

.actionIcon {
  margin-right: 12px !important;
  &:last-child {
    margin-right: 0;
  }
}
