@import '@styles/mixins';

.left {
  margin-left: 6px;
}

.right {
  margin-right: 6px;
}

.home {
  display: flex;
  min-height: 100vh;

  .sidebar {
    padding: 2rem 1.2rem;
    width: 25%;
    background-color: var(--background-light);

    @include dark-mode {
      background-color: #111;
    }

    @include mobile {
      // display: flex;
      // flex-direction: column-reverse;
      width: 0;
      padding: 0;
      position: absolute;
      z-index: 1;
      min-height: 100vh;
      left: 0;
      top: 0;
    }

    &Close {
      width: 60px;
      border-right: 1px solid var(--border-light);

      @include dark-mode {
        border-right: 1px solid var(--border-dark);
      }

      @include mobile {
        display: none;
      }

      .menu {
        display: none;
      }

      .hamburger {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: spac;
        margin-top: 20px;

        &Icon {
          margin-top: 20px;
        }

        .dropdownButton {
          margin-top: 20px;
        }
      }

      .user {
      }
    }
    //   min-height: 100vh;

    .hamburger {
      // @include display-flex;
      display: flex;
      justify-content: space-between;
    }

    .user {
      display: flex;
    }

    .menu {
      padding: 1rem 0;
      // height: 100%;

      .scrollableMenu {
        max-height: 60vh;
        overflow: scroll;
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
          display: none; /* Safari and Chrome */
        }
      }

      .upload {
        display: flex;
        margin: 8px 0 18px 0;
        justify-content: center;
        align-items: center;

        &Section {
          margin: 14px 0;
        }

        input::file-selector-button {
          color: #0072f5;
          background-color: #cde4fe;
          padding: 10px 14px;
          border: 0;
          border-radius: 8px;

          @include dark-mode {
            background-color: #10253e;
          }
        }
      }
    }

    .coll {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
    }
    .small {
      padding: 2px;
      @include content-size(24, 24);

      &Badge {
        // @include content-size(40, 40);
      }
    }

    .collection {
      margin: 8px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &Info {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &Name {
        @include font-size-weight(18, 26, 400);
        @include line-clamp(1);
      }
    }

    .subMenu {
      display: flex;
      // justify-content: center;
      align-items: center;
      color: var(--color-light);
      margin: 24px 0 14px 6px;
      @include font-size-weight(16, 10, 400);
    }
  }

  .mainContent {
    width: 100%;

    @include mobile {
      &Hidden {
        opacity: 0.2;
        backdrop-filter: saturate(180%) blur(20px);
      }
    }
  }
}

.select {
  width: 100%;
  padding: 10px 6px;
  border-radius: 14px;
  background-color: transparent;
}

.tags {
  margin: 6px 0;
  .badge {
    margin-right: 6px;
  }
}
