@import '@styles/mixins';

.right {
  margin-right: 6px;
}

.navbar {
  border: 1px solid var(--border-light);
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  display: flex;
  padding: 1rem 2rem 0 2rem;
  justify-content: space-between;
  align-items: center;

  @include dark-mode {
    border: 1px solid var(--border-dark);
    border-bottom: 0;
  }

  .search {
    width: 25% !important;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-light);
    border-radius: var(--border-radius-large);

    @include dark-mode {
      width: 25% !important;
      background-color: var(--background-dark);
      background-color: #16181a;
    }
  }

  .right {
    display: flex;
    .share {
      margin-right: 12px;
    }

    .input {
      width: 300px;
    }

    .new {
    }
  }
}
