@import '@styles/mixins';

.right {
  margin-right: 6px;
}

.navbar {
  background-color: var(--background-light);
  border-bottom: 1px solid var(--border-light);
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;

  @include dark-mode {
    border: 1px solid var(--border-dark);
    border-bottom: 0;
  }

  @include mobile {
    justify-content: center;
    @include font-size-weight(11, 12, 600);
  }

  .hamburgerIconMobile {
    display: none;
    @include mobile {
      display: block;
      margin-right: 10px;
    }
  }

  .main {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      display: flex;
    }
  }

  .userMobile {
    display: none;
    @include mobile {
      display: block;
    }
  }

  .searchContainer {
    display: flex;
    align-items: center;
  }
  
  .dropdownContent {
    width: 400px !important;
  }

  .search {
    margin-right: 12px;
    padding: 10px 16px;
    width: 400px;
    display: flex;
    // justify-content: center;
    align-items: center;
    border: 1px solid var(--border-light);
    background-color: var(--background-light);
    border-radius: var(--border-radius-large);

    @include dark-mode {
      background-color: var(--background-dark);
      background-color: #16181a;
    }

    &:hover {
      border: 1px solid var(--light-secondary);
      transition: all 0.2s ease-in-out;
    }
  }

  .searchBox {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--background-light);
    border-radius: var(--border-radius-large);

    @include dark-mode {
      width: 25% !important;
      background-color: var(--background-dark);
      background-color: #16181a;
    }
  }

  .right {
    display: flex;
    .share {
      margin-right: 12px;
    }

    .input {
      width: 300px;
    }

    .new {
    }

    @include mobile {
      display: none;
    }
  }
}
