@import '@styles/mixins';

.searchIcon {
  margin-right: 8px;
  margin-left: 12px;
}

.right {
  margin-right: 8px;
}

.navbar {
  background-color: var(--background-light);
  border-bottom: 1px solid var(--border-light);
  display: flex;
  padding: 1.25rem 2rem;
  justify-content: space-between;
  align-items: center;
  border-left: none;

  @include dark-mode {
    background-color: var(--background-dark);
    border-bottom: 1px solid var(--border-dark);
  }

  @include mobile {
    justify-content: center;
    @include font-size-weight(11, 12, 600);
  }

  .hamburgerIconMobile {
    display: none;
    @include mobile {
      display: block;
      margin-right: 10px;
    }
  }

  .main {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      display: flex;
    }
  }

  .userMobile {
    display: none;
    @include mobile {
      display: block;
    }
  }

  .searchDropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    border-radius: var(--border-radius-medium);
    top: 70px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 400px;
    padding: 0.5rem 1rem;
    z-index: 400;

    @include dark-mode {
      background-color: var(--background-dark);
    }

    &Item {
      display: flex;
      align-items: center;
      padding: 6px;
      margin: 6px 0;
      color: var(--color-light);
      @include font-size-weight(14, 20, 500);

      &:hover {
        transition: all 0.2s ease-in-out;
        background-color: var(--background-light);
        box-shadow: 0 0 0 1px var(--border-light);
        border-radius: var(--border-radius-medium);
        color: var(--color-dark);
      }

      @include dark-mode {
        padding: 6px;
        margin: 6px 0;
        &:hover {
          transition: all 0.2s ease-in-out;

          color: var(--color-dark-primary);
          background-color: #202020 !important;
          box-shadow: none;
        }
      }
    }
  }

  .searchContainer {
    display: flex;
    align-items: center;
  }

  .dropdownContent {
    width: 400px !important;
  }

  .search {
    margin-right: 12px;
    width: 400px;
    display: flex;

    align-items: center;
    border: 1px solid var(--border-light);
    background-color: var(--background-light);
    border-radius: var(--border-radius-medium);
    background-color: white;

    @include dark-mode {
      width: 400px;
      border: 1px solid var(--border-dark);
      background-color: var(--background-light);
      background-color: #16181a;
    }

    &:hover {
      border: 1px solid var(--light-secondary);
      transition: all 0.2s ease-in-out;
    }
  }

  .searchBox {
    width: 100%;
    padding: 12px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-medium);
    border: none;
    @include font-size-weight(14, 20, 500);

    @include dark-mode {
      // width: 25% !important;
      width: 100%;

      background-color: var(--background-dark);
      background-color: #16181a;
    }
  }

  .right {
    display: flex;

    .newButton {
      margin-right: 12px;
      @include font-size-weight(14, 20, 500);
      border-radius: var(--border-radius-large);
    }

    @include mobile {
      display: none;
    }
  }
}
