@import '@styles/mixins';

.left {
  margin-left: 6px;
}

.right {
  margin-right: 6px;
}

.home {
  display: flex;
  min-height: 100vh;

  .sidebar {
    padding: 2rem 1.2rem;
    width: 25%;
    background-color: var(--background-light);

    @include dark-mode {
      background-color: #111;
    }
    //   min-height: 100vh;

    .hamburger {
      @include display-flex;
      justify-content: space-between;
    }

    .user {
      display: flex;
    }

    .menu {
      padding: 1rem 0;
      // height: 100%;

      .scrollableMenu {
        max-height: 60vh;
        overflow: scroll;
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
          display: none; /* Safari and Chrome */
        }
      }

      .upload {
        display: flex;
        margin: 8px 0 18px 0;
        justify-content: center;
        align-items: center;

        &Section {
          margin: 14px 0;
        }

        input::file-selector-button {
          color: #0072f5;
          background-color: #cde4fe;
          padding: 10px 14px;
          border: 0;
          border-radius: 8px;

          @include dark-mode {
            background-color: #10253e;
          }
        }
      }
    }

    .coll {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
    }
    .small {
      @include content-size(16, 16);

      &Badge {
        // @include content-size(40, 40);
      }
    }

    .collection {
      margin: 3px 0;
      display: flex;
      justify-content: space-between;

      &Info {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 100%
        // height: 100%;
      }

      &Name {
        @include font-size-weight(18, 8, 400);
      }
    }

    .subMenu {
      display: flex;
      // justify-content: center;
      align-items: center;
      color: var(--color-light);
      margin: 24px 0 14px 6px;
      @include font-size-weight(16, 10, 400);
    }
  }

  .mainContent {
    width: 100%;
  }
}

.select {
  width: 100%;
  padding: 10px 6px;
  border-radius: 14px;
  background-color: transparent;
}

.tags {
  margin: 6px 0;
  .badge {
    margin-right: 6px;
  }
}
