@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #111;
  --background-light: #f2f3f5;
  --primary-alternate: rgb(0, 198, 255) --primary: hwb(212 0% 5%);
  --color-light: #7e7e7e;
  --color-dark: #484848;
  --border-light: #dedede;
  --border-dark: #444;
  --error: rgb(216, 96, 96);

  --color-dark-primary: #E5E5E5;
  --color-dark-secondary: #A3A3A3;

  --light-primary: #ECEFF1;
  --light-secondary: #8899A8;

  --dark-background-blue: #10253E;


  --border-small: 4px;
  --border-medium: 6px;
  --border-large: 8px;
  --border-radius-small: 4px;
  --border-radius-medium: 6px;
  --border-radius-large: 8px;
  --primary-gradient: linear-gradient(to right, #007fff, #0059b2);

  --shadow-color: 0deg 0% 61%;
  --shadow-elevation-low: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.35),
    0px 0.5px 0.6px -1.2px hsl(var(--shadow-color) / 0.35),
    0px 1.2px 1.3px -2.5px hsl(var(--shadow-color) / 0.35);
  --shadow-elevation-medium: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.3),
    0px 0.8px 0.9px -0.6px hsl(var(--shadow-color) / 0.3),
    0px 1.6px 1.8px -1.2px hsl(var(--shadow-color) / 0.3),
    -0.1px 3.2px 3.6px -1.9px hsl(var(--shadow-color) / 0.3),
    -0.1px 6.1px 6.9px -2.5px hsl(var(--shadow-color) / 0.3);
  --shadow-elevation-high: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.28),
    0px 1.5px 1.7px -0.3px hsl(var(--shadow-color) / 0.28),
    -0.1px 2.6px 2.9px -0.6px hsl(var(--shadow-color) / 0.28),
    -0.1px 4px 4.5px -0.8px hsl(var(--shadow-color) / 0.28),
    -0.1px 5.9px 6.6px -1.1px hsl(var(--shadow-color) / 0.28),
    -0.2px 8.4px 9.5px -1.4px hsl(var(--shadow-color) / 0.28),
    -0.3px 12px 13.5px -1.7px hsl(var(--shadow-color) / 0.28),
    -0.4px 16.8px 18.9px -1.9px hsl(var(--shadow-color) / 0.28),
    -0.6px 23.1px 26px -2.2px hsl(var(--shadow-color) / 0.28),
    -0.7px 31.1px 35px -2.5px hsl(var(--shadow-color) / 0.28);
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply transition-all ease-linear;
  }
}
