@import '@styles/mixins';

.treeContainer {
  background-color: var(--background-light);
  border-radius: var(--border-radius-medium);
  padding: 0.5rem 1rem;

  @include dark-mode {
    background-color: var(--background-dark);
    color: var(--color-dark-primary) !important;
  }
}
