@import '@styles/mixins';

.cardLoader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  width: calc(calc(100% - 96px) / 4);
  border-radius: var(--border-radius-large);
  max-width: 100%;
  margin: 12px;
  position: relative;

  @include dark-mode {
    background-color: var(--background-dark) !important;
    color: var(--background-dark) !important;
  }
}
